.table-bordered-dark {
  & > thead > tr > th,
  & > tbody > tr > td {
    border-color: #343a40 !important;
  }
}

.whitespace {
  white-space: pre;
}

.app-h {
  min-height: 100vh;
  max-height: fit-content;
  margin: 0;
}

.overflow-wrap {
  overflow-wrap: break-word;
}

.vw-10 {
  width: 10vw;
}

.vw-100 {
  width: 100vw;
}

.td-15 {
  width: 15%;
}

.td-75 {
  width: 75%;
  word-break: break-all;
}

input[type='checkbox'] {
  zoom: 2;
}
